In [1]:
import pandas as pd
import numpy as np

In [2]:
master_df=pd.read_csv('C:\\Users\\Fakhruddin\\Capstone Project\\Mahindra First Choice Dataset\\master_df.csv')

In [3]:
master_df.head()

,Unnamed: 0,Cust Type,Customer No.,State,Gate Pass Time,KMs Reading,Labour Total,Make,Model,Order Type,...,Data Origin,Title,City,Regn State,Invoice Date-Invoice Time,JobCard Date-JobCard Time,Year,Month,Total_Expense,Job_duration(in hrs)
0,0,retail,67849,maharashtra,00:00:00,49317,1203.14,general motors,spark,paid service,...,Used Car Dealer,2.0,thane,Karnataka,2015-01-02 11:30:36,2014-12-13 14:29:43,2015,1,6900.76,477.014722
1,1,retail,84419,maharashtra,00:00:00,78584,804.26,tata,indica,smc value package,...,Camp-Outdoor,2.0,thnae,Maharashtra,2015-01-03 10:07:32,2015-01-02 14:12:18,2015,1,1198.32,19.920556
2,2,retail,81055,maharashtra,00:00:00,33985,180.19,maruti,zen,running repairs,...,Ref-Customer,2.0,thane[w],Andhra Pradesh,2015-01-03 11:12:57,2015-01-02 11:40:44,2015,1,286.09,23.536944
3,3,retail,84419,maharashtra,00:00:00,78584,0.00,tata,indica,smc redemption,...,Camp-Outdoor,2.0,thnae,Maharashtra,2015-01-03 11:40:44,2015-01-03 10:12:32,2015,1,0.00,1.470000
4,4,retail,18980,maharashtra,00:00:00,50057,1202.97,hyundai,santro xing,paid service,...,Ref-Customer,2.0,thane,Maharashtra,2015-01-03 12:07:17,2015-01-02 10:45:42,2015,1,4291.27,25.359722

# Analysis on the basis of make and model revenue generation

In [4]:
selected_df=master_df[['Make','Model','Total_Expense']]

In [5]:
selected_df.head()

             Make        Model  Total_Expense
0  general motors        spark        6900.76
1            tata       indica        1198.32
2          maruti          zen         286.09
3            tata       indica           0.00
4         hyundai  santro xing        4291.27

In [6]:
make_df=selected_df.groupby(['Make','Model'])['Total_Expense'].sum().sort_values(ascending=False).to_frame()

In [7]:
make_df=make_df.reset_index()
make_df.head()

       Make         Model  Total_Expense
0  mahindra  scorpio crde   2.759307e+08
1    maruti         swift   2.048193e+08
2  mahindra        bolero   1.632686e+08
3  mahindra          xylo   1.500502e+08
4   hyundai        santro   1.348547e+08

# Analysis of Order type how it is varying in different states:

In [8]:
selected_ordertype=master_df[['State','Order Type']]
selected_ordertype.head()

         State         Order Type
0  maharashtra       paid service
1  maharashtra  smc value package
2  maharashtra    running repairs
3  maharashtra     smc redemption
4  maharashtra       paid service

In [9]:
ordertype=pd.DataFrame(selected_ordertype.groupby('State')['Order Type'].value_counts().sort_values(ascending=False))
ordertype=ordertype.rename(columns={'Order Type':'count'})
ordertype=ordertype.reset_index()
ordertype=ordertype.sort_values(by='State')

In [10]:
ordertype.head()

                    State         Order Type  count
150  andaman and nico.in.    running repairs      5
180  andaman and nico.in.       paid service      1
169  andaman and nico.in.         accidental      2
62         andhra pradesh  smc value package    737
103        andhra pradesh       repeat order    102

# Analysis of revenue and invoice in different states

In [11]:
invoice_data=pd.read_csv('C:\\Users\\Fakhruddin\\Capstone Project\\Mahindra First Choice Dataset\\Final_invoice.csv')

C:\Users\Fakhruddin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (9,10,14,15,21,41,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
invoice=invoice_data[['District','Invoice No','Invoice Date','Invoice Time','Total Amt Wtd Tax.']]

In [13]:
invoice['invoice_datetime']=invoice['Invoice Date']+' '+invoice['Invoice Time']
invoice['invoice_datetime']=pd.to_datetime(invoice['invoice_datetime'])

C:\Users\Fakhruddin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Fakhruddin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
invoice=invoice.drop(['Invoice Date','Invoice Time'],axis=1)

In [15]:
invoice['year']=invoice['invoice_datetime'].dt.year
invoice=invoice.rename(columns={'District':'State'})

In [16]:
grp=invoice.groupby(['State','year'])
graph_df=grp.agg({'Invoice No':['count'],'Total Amt Wtd Tax.':'sum'}).sort_values(by='State')
graph_df

                          Invoice No Total Amt Wtd Tax.
                               count                sum
State                year
Andaman and Nico.In. 2015          4       3.908942e+04
                     2016          4       3.294443e+04
Andhra Pradesh       2012       2884       1.490088e+07
                     2013      10318       4.482869e+07
                     2014       9745       4.922622e+07
...                              ...                ...
Uttarakhand          2015         67       1.984458e+05
                     2016       2464       7.995463e+06
West Bengal          2015          6       2.024568e+04
                     2014          5       3.454591e+04
                     2016       1321       5.406118e+06

[140 rows x 2 columns]

In [17]:
graph_df=graph_df.reset_index()
graph_df.tail(10)

             State  year Invoice No Total Amt Wtd Tax.
                              count                sum
130  Uttar Pradesh  2013       2727         7337921.18
131  Uttar Pradesh  2012          5           36490.68
132  Uttar Pradesh  2014      12775        39669838.26
133    Uttarakhand  2013          1               0.00
134    Uttarakhand  2014          9          259805.16
135    Uttarakhand  2015         67          198445.80
136    Uttarakhand  2016       2464         7995463.07
137    West Bengal  2015          6           20245.68
138    West Bengal  2014          5           34545.91
139    West Bengal  2016       1321         5406118.14

In [18]:
graph_df.columns=['State','year','invoice count','Total Amt Wtd Tax. sum']
graph_df

                    State  year  invoice count  Total Amt Wtd Tax. sum
0    Andaman and Nico.In.  2015              4            3.908942e+04
1    Andaman and Nico.In.  2016              4            3.294443e+04
2          Andhra Pradesh  2012           2884            1.490088e+07
3          Andhra Pradesh  2013          10318            4.482869e+07
4          Andhra Pradesh  2014           9745            4.922622e+07
..                    ...   ...            ...                     ...
135           Uttarakhand  2015             67            1.984458e+05
136           Uttarakhand  2016           2464            7.995463e+06
137           West Bengal  2015              6            2.024568e+04
138           West Bengal  2014              5            3.454591e+04
139           West Bengal  2016           1321            5.406118e+06

[140 rows x 4 columns]

In [19]:
mark_values = {2012:'2012',2013:'2013',2014:'2014',2015:'2015',
               2016:'2016'
               }

# Analysis of  how car brands generate revenue  in each state

In [20]:
df2=master_df[['State','Make','Total_Expense']]

In [21]:
df2=df2.groupby(['State','Make'])['Total_Expense'].sum().sort_values(ascending=False).to_frame()

In [22]:
df2=df2.reset_index()
df2.head()

         State      Make  Total_Expense
0   tamil nadu  mahindra   3.443312e+08
1  maharashtra  mahindra   2.209455e+08
2  maharashtra    maruti   2.085688e+08
3   tamil nadu    maruti   1.451709e+08
4   tamil nadu   hyundai   1.373881e+08

# DASH BOARD AREA

In [23]:
###importing visualisation libraries:

In [24]:
import dash             
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

import plotly   
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go

C:\Users\Fakhruddin\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
app = dash.Dash(__name__)
server=app.server

####################################################################################################
#Layout of the dashboard:
app.layout= html.Div([
    html.H1(
        children='EDA DashBoard',
        style={
            'textAlign': 'center',
            'color': '#00FF7F'
        }
    ),
########################################################################################################
#################layout for Make and Model revenue Analysis###################################   
    html.Div([
        html.Label(['Make and Model revenue Analysis']),
        dcc.Dropdown(
            id='my_dropdown',
            options=[{'label':i,'value':i} for i in make_df.Make.unique()],
            value='mahindra',
            multi=False,
            clearable=False,
            style={'width':'50%'}
        ),
    ]),

    html.Div([
        dcc.Graph(id='the_graph',
                 style={'width':'70%'}
                 )
    ]),
##############################layout for Based on Make State revenue Analysis######################################
      html.Div([
        html.Label(['Based on Make State revenue Analysis']),
        dcc.Dropdown(
            id='my_staterevenue',
            options=[{'label':i,'value':i} for i in df2.State.unique()],
            value='maharashtra',
            multi=False,
            clearable=False,
            style={'width':'50%'}
        ),
    ]),

    html.Div([
        dcc.Graph(id='State_Make_revenue_graph',
                 style={'width':'70%'}
                 )
    ]),
#############################################################################################################    
    
    

######################layout for Invoice count and Total revenue generation of States yearly #############################
      html.Div([
            html.Pre(children= "Invoice count and Total revenue generation of States yearly",
            style={"text-align": "center", "font-size":"100%", "color":"black"})
        ]),

        html.Div([
            dcc.Graph(id='scatter_graph')
        ]),

        html.Div([
            dcc.RangeSlider(id='the_year',
                min=2012,
                max=2016,
                value=[2012,2013],
                marks=mark_values,
                step=None)
        ],style={"width": "90%", "position":"absolute",
                 "left":"5%"}),
    html.Br(),
    html.Br(),
    html.Br(),
###################layout for Analysis of Order type in different state ######################################
     html.Div([
        html.Label(['Analysis of Order type in different state']),
        dcc.Dropdown(
            id='ordertype_dropdown',
            options=[{'label':i,'value':i} for i in ordertype.State.unique()],
            value='andhra pradesh',
            multi=False,
            clearable=False,
            style={'width':'50%'}
        )
    ]),

    html.Div([
        dcc.Graph(id='ordertype_graph',
                 style={'width':'70%'}
                 )
            ])
    
    
        ])

###################################################################################################

    
####################################################################################################    


###############################For Make and Model revenue generation##############################
#calling back the output and graphs
@app.callback(Output('the_graph', 'figure'),
              [Input('my_dropdown', 'value')])


##################################################################################################
#defining a function for make and model:
def update_figure(selected_make):
    filtered_df = make_df[make_df['Make'] == selected_make]
    traces=[]
    #for selected_state in df1.State.unique():
    
    trace1 = go.Bar(
             x = filtered_df['Model'],
             y=filtered_df['Total_Expense'],   
            name = selected_make,
            marker = dict(color = 'rgba(127,255,0, 0.5)',
            line=dict(color='rgb(0,0,0)',width=1.5)))
    traces.append(trace1)
    
    

    return {
        'data': traces,
        'layout': go.Layout(
            title='Make and model revenue analysis',
            xaxis={ 'title': 'Model'},
            yaxis={'title': 'Total revenue generated'},
            hovermode='closest')
        }
#########################callback and function for Based on Make State revenue Analysis ###################
@app.callback(Output('State_Make_revenue_graph', 'figure'),
              [Input('my_staterevenue', 'value')])
def update_figure(selected_state):
    filtered_df2 = df2[df2['State'] == selected_state]
    traces=[]
    #for selected_state in df1.State.unique():
    
    trace1 = go.Bar(
             x = filtered_df2['Make'],
             y=filtered_df2['Total_Expense'],   
            name = selected_state,
            marker = dict(color = 'rgba(239,222,205, 0.7)',
            line=dict(color='rgb(0,0,0)',width=1.5)))
    traces.append(trace1)
    
    

    return {
        'data': traces,
        'layout': go.Layout(
            title='Revenue Generated in a State on the basis of Car Brands ',
            xaxis={ 'title': 'Car Brands'},
            yaxis={'title': 'Revenue'},
            hovermode='closest')
        
    

        }

###########################################################################################################


#############################for invoice and revenue of state comparision over years##############################################
#callback for scatter plot
@app.callback(
    Output('scatter_graph','figure'),
    [Input('the_year','value')])
#defining function for scatter plot    
def update_graph(years_chosen):
    #print(years_chosen)

    dff=graph_df[(graph_df['year']>=years_chosen[0])&(graph_df['year']<=years_chosen[1])]
    # filter df rows where column year values are >=1985 AND <=1988
   # dff=dff.groupby(["country"], as_index=False)["suicides/100k pop",
               #     "gdp_per_capita ($)"].mean()
    # print (dff[:3])

    scatterplot = px.scatter(
        data_frame=dff,
        x="invoice count",
        y="Total Amt Wtd Tax. sum",
        hover_data=['State','year'],
       # mode = "markers",
        #marker = dict(color = 'rgba(255, 128, 255, 0.8)'),
        text="State",
        template='simple_white',
        height=550
    )

    scatterplot.update_traces(textposition='top center')

    return (scatterplot)

################################################################################################################
###########################For state wise order distribution#############################################
##callback for order type
@app.callback(
    Output('ordertype_graph','figure'),
    [Input('ordertype_dropdown','value')])
###defining function for selected state order type:
def update_figure(selected_state):
    filtered_df1 = ordertype[ordertype['State'] == selected_state]
    traces0=[]
    #for selected_state in df1.State.unique():
    
    trace2 = go.Bar(
             x = filtered_df1['Order Type'],
             y=filtered_df1['count'],   
            name = selected_state,
            marker = dict(color = 'rgba(125, 125, 255, 0.5)',
            line=dict(color='rgb(0,0,0)',width=1.5)))
    traces0.append(trace2)
    
    

    return {
        'data': traces0,
        'layout': go.Layout(
            title='Order Type count State recieve',
            xaxis={ 'title': 'Order Type'},
            yaxis={'title': 'Count'},
            hovermode='closest')
        }



if __name__ == '__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

 Warning: This is a development server. Do not use app.run_server
 in production, use a production WSGI server like gunicorn instead.

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [28/Jun/2020 09:35:49] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 09:35:49] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 09:35:49] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 09:35:49] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 09:35:49] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 09:35:49] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 09:35:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:34:59] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:34:59] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:34:59] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:34:59] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:34:59] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:35:00] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:35:00] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:35:50] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:35:50] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:35:50] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:35:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:35:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:35:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:35:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:36:02] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:36:12] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:39:28] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:39:28] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:39:28] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:39:28] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:39:28] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:39:28] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:39:28] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:41:50] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:41:50] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:41:50] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:41:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:41:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:41:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:41:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:41:59] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:42:05] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 10:42:31] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:01:50] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:01:50] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:01:50] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:01:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:01:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:01:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:01:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:02:08] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:02:50] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:02:50] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:02:50] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:02:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:02:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:02:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:02:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:03:08] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:08:06] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:08:06] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:08:06] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:08:07] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:08:07] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:08:07] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:08:07] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:09:53] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:09:53] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:09:53] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:09:53] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:09:53] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:09:53] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:09:53] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:10:26] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:10:33] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:11:08] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:11:51] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:12:16] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:12:37] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:58:44] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:58:44] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:58:45] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:58:45] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:58:45] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:58:45] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 12:58:45] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:25:09] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:25:09] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:25:09] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:25:09] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:25:09] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:25:09] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:25:10] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:29:17] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:29:17] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:29:17] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:29:17] "POST /_dash-update-component HTTP/1.1" 200 -

127.0.0.1 - - [28/Jun/2020 13:29:17] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:29:17] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:29:17] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:29:23] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:30:23] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:30:23] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:30:23] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:30:23] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:30:23] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:30:23] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 13:30:23] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 14:26:16] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 14:26:17] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 14:26:17] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 14:26:17] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 14:26:17] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 14:26:17] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 14:26:17] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:37:59] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:37:59] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:37:59] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:37:59] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:37:59] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:37:59] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:38:00] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:38:12] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:38:42] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:38:43] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:38:43] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:38:43] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:38:43] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:38:43] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:38:43] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:38:55] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:41:25] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:41:25] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:41:25] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:41:25] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:41:25] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:41:25] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:41:25] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:42:51] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:42:52] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:42:52] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:42:52] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:42:52] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:42:52] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:42:52] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Jun/2020 16:43:12] "POST /_dash-update-component HTTP/1.1" 200 -